.like-button {
    width: 21px;
    height: 19px;
    background-image: url(../../images/like-button.png);
    border: none;
    background-position: center;
    background-size: contain;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
}

.like-button:hover {
    opacity: .2;
}

.like-button:active {
    background-color: black;
}