.profile {
    width: 100%;
    display: flex;
    padding-top: 81px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
    margin: 0;
}

@media screen and (max-width: 400px) {
    .profile {
        width: 88%;
        flex-direction: column;
        row-gap: 36px;
        margin: 0 auto;
    }
    
}