.profile__container {
  display: flex;
  column-gap: 30px;
  
}

@media screen and (max-width: 800px) {
  .profile__container {
    flex-direction: column;
    row-gap: 26.25px;
    width: 100%;
  }
}
