.edit-icon {
  height: 26px;
  width: 26px;
  margin: auto;
  background-image: url(../../src/images/edit-icon.png);
  background-position: center;
  object-fit: contain;
  background-color: transparent;
  background-repeat: no-repeat;
}

