.profile__name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 417px;

}

@media screen and (max-width: 400px) {
    .profile__name-container {
        width: 100%;
        margin: 0 auto;

    }

}