.profile__name-container {
  display: flex;
  flex-direction: column;
  column-gap: 18px;
}

@media screen and (max-width: 600px) {
  .profile__name-container {
    width: 100%;
    margin: 0 auto;
  }
}
