.close-button {
    width: 40px;
    height: 40px;
    background-image: url(../../src/images/close-button.png);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    border: none;
    cursor: pointer;
}

.close-button:hover {
    opacity: .2;
}


@media screen and (max-width: 400px) {
    .close-button {
        width: 26px;
        height: 26px;
    }
}
